.idea/

bootstrap_data/instruments/*/*.c
bootstrap_data/instruments/*/*.out
bootstrap_data/instruments/xnovo
bootstrap_data/simrun_data/

configs-platform/.oci/config
configs-platform/.oci/oci_api_key.pem
configs-platform/.oci/oci_api_key_public.pem
configs-platform/.aws/config
configs-platform/.aws/credentials
configs-platform/.corc/config
